@use '../abstracts/variables';

.background-none {
  background: none;
}

.bg-image {
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-gray-dark {
  background-color: variables.$gray-dark;
}

.bg-gray {
  background-color: variables.$gray;
}

.bg-gray-light {
  background-color: variables.$gray-light;
}

.border-none {
  border: none;
}

.text-italic {
  font-style: italic;
}

// .line-height-base {
//   line-height: $line-height-base;
// }

// .text-lg {
//   font-size: $font-size-lg;
// }

// .text-sm {
//   font-size: $font-size-sm;
// }

// .text-xs {
//   font-size: $font-size-xs;
// }

// .radius-none {
//   border-radius: 0;
// }

// .radius-sm {
//   border-radius: $border-radius-sm;
// }

// .radius-md {
//   border-radius: $border-radius;
// }

// .radius-lg {
//   border-radius: $border-radius-lg;
// }

// .radius-round {
//   border-radius: 50%;
// }

// .divider-horizontal + .divider-horizontal {
//   border-top: 1px solid variables.$gray-light;
// }
