{{ $baseURL := .Site.BaseURL }}

{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div class="container full-padding-vertical">
  <div class="t2b-display-title text-center">
    <span>{{ .Title }}</span>
  </div>

  <div class="gutter-padding-vertical text-center mdc-theme--text-hint-on-background">
    <span>{{ .Date.Format "Jan 02, 2006" }} - Read in {{ .ReadingTime }} Min</span>
  </div>

  <article class="gutter-padding-vertical text-lg line-height-base">
    {{ .Content }}
  </article>

  <aside>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        {{ with .Params.series }}
          {{ if gt (len .) 0 }}
          <h6>Series</h6>
          <ul class="list-inline">
            {{ range . }}
            <li class="display-inline-block">
              <a class="mdc-button mdc-button--raised mdc-button--dense mdc-button--compact" href="{{ $baseURL }}series/{{ . | urlize }}">
                <span>{{ . }}</span>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        {{ end }}
      </div>
      <div class="col-xs-12 col-sm-6">
        {{ with .Params.tags }}
          {{ if gt (len .) 0 }}
          <h6>Tags</h6>
          <ul class="list-inline">
            {{ range . }}
            <li class="display-inline-block">
              <a class="mdc-button mdc-button--dense mdc-button--compact" href="{{ $baseURL }}tags/{{ . | urlize }}">
                <span>#{{ . }}</span>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="full-width gutter-padding clearfix">
      {{ if .PrevInSection }}
      <a class="text-lg pull-left" href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a>
      {{ end }}
      {{ if .NextInSection }}
      <a class="text-lg pull-right" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a>
      {{ end }}
    </div>

    <div class="gutter-padding-vertical">
      <h5>About The Author:</h5>
      {{ with .Site.GetPage "section" "about" }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </aside>
</div>

{{ partial "foot.html" . }}
