.t2b-appbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  align-items: center;
  width: 100%;
  clear: both;
}

.t2b-appbar-height {
  min-height: 56px;

  @include media-breakpoint-up(md) {
    min-height: 64px;
  }
}
