.t2b-card {
  border: none;
  transition: mdc-animation-exit-permanent(all, $duration-base);

  &:hover {
    @include mdc-elevation(8);
    transition: mdc-animation-enter-permanent(all, $duration-base);
  }
}

.t2b-card__primary {
  padding: 16px;
}

.t2b-card__secondary {
  padding: 0px 16px 8px;
}

.t2b-card__title {
  font-family: $font-family-headings;
  margin: 0;
}

.t2b-card__subtitle {
  margin: 0;
}
