.t2b-cover--text {
  text-align: center;

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
    @include mdc-layout-grid-cell-order(1);
    text-align: left;
  }
}

.t2b-cover--headline {
  @include mdc-typography(headline4);
  font-weight: map-get($mdc-typography-font-weight-values, medium);

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    @include mdc-typography(headline3);
    font-weight: map-get($mdc-typography-font-weight-values, medium);
  }
}

.t2b-cover--subtitle {
  @include mdc-typography(headline6);
  font-weight: map-get($mdc-typography-font-weight-values, regular);

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    @include mdc-typography(headline5);
  }
}

.t2b-cover--cta {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
}

.t2b-cover--image {
  @media screen and (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
    @include mdc-layout-grid-cell-order(2);
  }

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    padding: map-get($mdc-layout-grid-default-gutter, desktop);
  }
}
