.t2b-top-app-bar {
  @include mdc-top-app-bar-fill-color($mdc-theme-primary);
  @include mdc-top-app-bar-icon-ink-color(on-primary);
  @include mdc-top-app-bar-ink-color(on-primary);
  // @include mdc-elevation(4);
}

.t2b-top-app-bar__title {
  @include mdc-typography(headline5);
  font-family: $font-family-headings;
  font-weight: map-get($mdc-typography-font-weight-values, medium);
  letter-spacing: 0.1em;
  padding-left: $mdc-top-app-bar-title-left-padding/2;

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
    padding-left: $mdc-top-app-bar-title-left-padding;
  }
}

.t2b-top-app-bar__logo {
  display: inline-block;
  height: $mdc-top-app-bar-row-height*0.4;
  width: $mdc-top-app-bar-row-height*4;
  background: url("../images/logo-circular.png") no-repeat;
  background-size: auto 100%;
  vertical-align: middle;

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
    height: $mdc-top-app-bar-row-height/2;
  }

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    margin-bottom: 5px;
  }
}

.t2b-top-app-bar__navigation-icon {
  @include mdc-theme-prop(color, text-primary-on-dark);

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    display: none;
  }
}

.t2b-top-app-bar__action-items {
  display: none;
  margin-left: map-get($mdc-layout-grid-default-margin, "desktop");

  @media screen and (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    display: inline-block;
  }
}

.t2b-top-app-bar__action--item {
  @include mdc-button-filled-accessible($mdc-theme-primary);
  color: mdc-theme-prop-value(text-hint-on-dark) !important;

  &.active {
    color: mdc-theme-prop-value(text-primary-on-dark) !important;
    border-bottom: 2px solid mdc-theme-prop-value(text-primary-on-dark);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
