{{ define "main" }}
<div class="bg-gray-light t2b-padding">
  <div class="t2b-container--narrow">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
          <div class="text-center">
            <h4 class="t2b-cover--headline">
              {{ if isset .Data "Singular" }}
              <span>{{ .Data.Singular }}:</span>
              {{ end }}
              <span>{{ .Params.coverHeadline | default .Title }}</span>
            </h4>
            {{ with .Params.coverSubtitle }}
            <p class="t2b-cover--subtitle">{{ . }}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="t2b-feed t2b-padding-vertical">
  <div class="t2b-container--narrow">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {{ range .Data.Pages }}
        <div class="t2b-feed__elem t2b-padding-bottom mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
          <div class="t2b-card mdc-card mdc-card--outlined">
            <div class="mdc-card__primary-action" tabindex="0">
              <a href="{{ .Permalink }}">
                <div class="t2b-card__primary">
                  <h2 class="t2b-card__title mdc-typography--headline6 mdc-theme--primary">{{ .Title }}</h2>
                  <h3 class="t2b-card__subtitle mdc-typography--subtitle2 mdc-theme--text-hint-on-background">{{ .Date.Format "Jan 02, 2006" }} - Read in {{ .ReadingTime }} Min</h3>
                </div>
                <div class="t2b-card__secondary">
                  <span class="mdc-typography--body2">{{ .Description | default .Summary }}</span>
                </div>
              </a>
            </div>
            <div class="mdc-card__actions">
              <div class="mdc-card__action-buttons">
                <a class="mdc-button mdc-card__action mdc-card__action--button" href="{{ .Permalink }}">
                  <span class="mdc-theme--secondary">Read</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
