{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}

<div class="bg-gray-light t2b-padding">
  <div class="t2b-container--narrow">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
          <div class="text-center">
            <h4 class="t2b-cover--headline">
              <span>{{ .Title }}</span>
            </h4>
            <p class="t2b-cover--subtitle">{{ .Date.Format "Jan 02, 2006" }}</p>
            <p class="mdc-typography--caption text-italic">{{ .Params.author | default .Site.Params.author }}</p>
            {{ with .Params.categories }}
            <p class="t2b-category-set mdc-chip-set">
              {{ range . }}
              <a class="mdc-chip" href="{{ $baseURL }}categories/{{ urlize . }}">
                <span class="mdc-chip__text">{{ . }}</span>
              </a>
              {{ end }}
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="t2b-container--narrow t2b-padding-vertical">
  <article class="mdc-typography--body1">
    {{ .Content }}
  </article>

  {{ partial "navigation.html" . }}

  <!-- <aside>
    <div class="gutter-padding-vertical">
      <h5>About The Author:</h5>
      {{ with .Site.GetPage "section" "about" }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </aside> -->
</div>
{{ end }}