html, body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.row-sm {
  @include clearfix;
  @include media-breakpoint-up(sm) {
    @include make-row;
  }
}
