<aside class="t2b-main-drawer mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a
        class="mdc-list-item {{ if .IsHome }}mdc-list-item--activated{{ end }}"
        href="{{ .Site.BaseURL }}"
        aria-current="page">
        <span class="mdc-list-item__text">HOME</span>
      </a>
      <a
        class="mdc-list-item {{ if eq .Type "about" }}mdc-list-item--activated{{ end }}"
        href="{{ "about" | absURL }}"
        aria-current="page">
        <span class="mdc-list-item__text">ABOUT</span>
      </a>
      <a
        class="mdc-list-item {{ if eq .Type "posts" }}mdc-list-item--activated{{ end }}"
        href="{{ "posts" | absURL }}"
        aria-current="page">
        <span class="mdc-list-item__text">BLOG</span>
      </a>
      <a
        class="mdc-list-item {{ if eq .Type "podcasts" }}mdc-list-item--activated{{ end }}"
        href="{{ "podcasts" | absURL }}"
        aria-current="page">
        <span class="mdc-list-item__text">PODCASTS</span>
      </a>
    </nav>
  </div>
</aside>

<div class="mdc-drawer-scrim"></div>
