<div class="t2b-appbar mdc-theme--primary-bg mdc-theme--text-primary-on-primary mdc-elevation--z4">
  <div class="full-width gutter-padding-horizontal">
    <button class="material-icons mdc-theme--text-primary-on-primary background-none border-none pull-left">menu</button>
    <div class="t2b-logo-container mdc-typography--title">
      <div class="t2b-logo-row">
        <div class="t2b-logo-cell">
          <div class="t2b-avatar-container t2b-avatar-small">
            <img
              alt="avatar"
              src="images/transparent.png"
              class="t2b-avatar-cell t2b-avatar-default"
            />
          </div>
        </div>
        <div class="t2b-logo-cell gutter-padding-horizontal text-uppercase">
          <span>Thoughts2Bits</span>
        </div>
      </div>
    </div>
  </div>
</div>

<aside class="mdc-temporary-drawer">
  <nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
      <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text primary-on-primary">
        LOGO
      </div>
    </header>
  </nav>
</aside>
