<header class="t2b-top-app-bar mdc-top-app-bar">
  <div class="t2b-container mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="t2b-top-app-bar__navigation-icon material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
      <span class="t2b-top-app-bar__title mdc-top-app-bar__title">
        <a href="{{ .Site.BaseURL }}"><span>THOUGHTS</span><span class="mdc-theme--secondary">2BITS</span></a>
      </span>

      <div class="t2b-top-app-bar__action-items">
        <a
          class="t2b-top-app-bar__action--item mdc-button {{ if eq .Type "about" }}active{{ end }}"
          href="{{ "about" | absURL }}">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">about</span>
        </a>
        <a
          class="t2b-top-app-bar__action--item mdc-button {{ if eq .Type "posts" }}active{{ end }}"
          href="{{ "posts" | absURL }}">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">blog</span>
        </a>
        <a
          class="t2b-top-app-bar__action--item mdc-button {{ if eq .Type "podcasts" }}active{{ end }}"
          href="{{ "podcasts" | absURL }}">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">podcasts</span>
        </a>
      </div>
    </section>
  </div>
</header>
