.background-none {
  background: none;
}

.border-none {
  border: none;
}

.line-height-base {
  line-height: $line-height-base;
}

.radius-none {
  border-radius: 0;
}

.radius-sm {
  border-radius: $border-radius-sm;
}

.radius-md {
  border-radius: $border-radius;
}

.radius-lg {
  border-radius: $border-radius-lg;
}

.radius-round {
  border-radius: 50%;
}
