$font-family-sans-serif: "Open Sans", Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 500;
$headings-font-weight: 500;

// colors
$color-gold-drop: #F57C00;
$color-orange-peel: #FF9800;
$color-frangipani: #FFE0B2;
$color-cerulean: #03A9F4;
$color-mine-shaft: #212121;
$color-boulder: #757575;
$color-silver: #BDBDBD;
$color-gallery: #EEEEEE;
$color-alabaster: #FAFAFA;

// $color-fruit-salad: #4CAF50;
// $color-sunshade: #FFA726;

$brand-primary: $color-orange-peel;
$brand-accent: $color-cerulean;
$body-bg: $color-alabaster;

$brand-primary-dark: $color-gold-drop;
$brand-primary-light: $color-frangipani;

$gray-dark: $color-mine-shaft;
$gray: $color-boulder;
$gray-light: $color-silver;
$gray-lighter: $color-gallery;
$gray-lightest: $color-alabaster;

$link-hover-color: $brand-primary-dark;

$mdc-theme-primary: $color-orange-peel;
$mdc-theme-accent: $color-cerulean;
$mdc-theme-background: $color-alabaster;

$duration-base: .2s;
$duration-fast: .15s;
$duration-slow: .25s;

$golden-ratio: 1.618;
