$font-family-base: "Open Sans", Arial, sans-serif;
$font-family-headings: Montserrat, Arial, sans-serif;

$mdc-typography-font-family: $font-family-base;

$mdc-typography-font-weight-values: (
  light: 300,
  regular: 400,
  medium: 600
);

$mdc-typography-styles-headline1: (
  font-family: $font-family-headings
);

$mdc-typography-styles-headline2: (
  font-family: $font-family-headings
);

$mdc-typography-styles-headline3: (
  font-family: $font-family-headings
);

// colors
// $color-persian-red: #D32F2F;
// $color-pomegranate: #F44336;
// $color-pastel-pink: #FFCDD2;
// $color-orange-peel: #FF9800;
// $color-mine-shaft: #212121;
// $color-boulder: #757575;
// $color-silver: #BDBDBD;
// $color-gallery: #EEEEEE;
// $color-alabaster: #FAFAFA;

// $color-seance-dark: #7B1FA2;
// $color-seance: #9C27B0;
// $color-french-lilac: #E1BEE7;
// $color-gold-drop: #F57C00;
// $color-orange-peel: #FF9800;
// $color-frangipani: #FFE0B2;
// $color-cerulean: #03A9F4;
// $color-fruit-salad: #4CAF50;
// $color-sunshade: #FFA726;

$color-congo-brown: #523634;
$color-well-read: #B6452C;

// $brand-primary: $color-pomegranate;
// $brand-accent: $color-orange-peel;
// $body-bg: $color-alabaster;

// $brand-primary-dark: $color-persian-red;
// $brand-primary-light: $color-pastel-pink;

// $gray-dark: $color-mine-shaft;
// $gray: $color-boulder;
// $gray-light: $color-silver;
// $gray-lighter: $color-gallery;
// $gray-lightest: $color-alabaster;

// $link-hover-color: $brand-primary-dark;

$mdc-theme-primary: $color-congo-brown;
$mdc-theme-secondary: $color-well-read;

$duration-base: .2s;
$duration-fast: .15s;
$duration-slow: .25s;

$golden-ratio: 1.618;
