$font-family-base: "Open Sans", Arial, sans-serif;
$font-family-headings: Montserrat, Arial, sans-serif;

$font-weight-values: (
  light: 300,
  regular: 400,
  medium: 600,
  bold: 700
);

$primary-color: #21404B;
$secondary-color: #CC4239;
$background-color: #FFFFFF;

$gray-dark: #212121;
$gray: #757575;
$gray-light: #FAFAFA;

$duration-base: .2s;
$duration-fast: .15s;
$duration-slow: .25s;

$golden-ratio: 1.618;
